{%extends 'ripechilli/base.html' %}
    {% block navml %}
    <li class="nav-item">
        <a href="tel:+916207781113" class="nav-link navLogo"><i class="fa fa-phone"></i></a>
    </li>
    <li class="nav-item">
        <a href="mailto: ripechilli@gmail.com" class="nav-link navLogo"><i class="fa fa-envelope"></i></a>
    </li>
    {% endblock navml %}
  {% block title%}Contact Us{%endblock title %}
  {% block body %}
    {% load crispy_forms_tags %}

    <section class="formContact" id="formContactID">
        <div class="container">
            <!--  form contact -->
            <div class="card formContactCard">

                <h5 class="card-header formContactCardHead white-text text-center py-4">
                    <strong>Contact us</strong>
                </h5>
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn formContactCardBtn btn-block" type="submit">Submit</button>
                      </form>
                </div>
            </div>
            <!--  form contact -->
        </div>
    </section>
{%include 'ripechilli/footer.html' %}
    {% endblock %}